a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .custom-box

        .content
            .title-text MAKE YOUR PREFERABLE CAKE
            .choose-size 
                span CHOOSE THE SIZE
                 .sizes(id="sizeContainer")

                .else 
                    span else: 
                    input(type="text" name="comment" placeholder="Your comment").comment

            .choose-taste
                span CHOOSE THE TASTE
                .tastes(id="tasteContainer") 

                .else 
                    span else: 
                    input(type="text" ).comment
            .choose-decor
                span CHOOSE THE DECOR
                .decors(id="decorContainer")

                .else 
                    span else: 
                    input(type="text" ).comment
            .result-box 
                span.result-text ESTIMATED PRICE:
                span.result-price ₴<span id="totalPrice">00.00</span>
                textarea.comment(placeholder="comments")
                button.custom-button.myButton.disabled ASK FOR SUBMIT
    .notification(id="notification")
        span.notification-text Thank your for your order! <br> Manager will contact you soon