a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .custom-box

        .content
            .title-text MAKE YOUR PREFERABLE CAKE
            .choose-size 
                span CHOOSE THE SIZE
                .sizes
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo
                    .size 1 kilo

                .else 
                    span else: 
                    input(type="text" ).comment
            .choose-taste
                span CHOOSE THE TASTE
                .tastes
                    .taste 
                        span coconut
                        input(type="checkbox" ) 
                    .taste 
                        span coconut
                        input(type="checkbox" ) 
                    .taste 
                        span coconut
                        input(type="checkbox" ) 
                    .taste 
                        span coconut
                        input(type="checkbox" ) 
                    .taste 
                        span coconut
                        input(type="checkbox" ) 
                    .taste 
                        span coconut
                        input(type="checkbox" ) 
                    .taste 
                        span coconut
                        input(type="checkbox" ) 
                    

                .else 
                    span else: 
                    input(type="text" ).comment
            .choose-decor
                span CHOOSE THE DECOR
                .decors
                    .decor 
                        span flowers
                        input(type="checkbox" ) 
                    .decor 
                        span flowers
                        input(type="checkbox" ) 
                    .decor 
                        span flowers
                        input(type="checkbox" ) 
                    .decor 
                        span flowers
                        input(type="checkbox" ) 

                .else 
                    span else: 
                    input(type="text" ).comment
            .result-box 
                span.result-text ESTIMATED PRICE:
                span.result-price ₴198.00
                textarea.comment(placeholder="comments")
                button.custom-button.myButton ASK FOR SUBMIT