a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .main-box

        .content
            img(src=require('../photo/buildYourCake.png') alt="Build Your Own Cake").buildYourCake
            a(href="custom.html").order-button.myButton Go to Custom Order
            .products


        a(href="catalogue.html").main-button.myButton Go to Full Catalogue
