doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login
  body
    form(id="login-form")
      h2 Login
      label(for="user_login") Username:
      input(type="text" id="user_login" name="user_login" required)
      br
      label(for="user_password") Password:
      input(type="password" id="user_password" name="user_password" required)
      br
      button(type="submit") Login

    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script.
      document.getElementById('login-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const user_login = document.getElementById('user_login').value;
        const user_password = document.getElementById('user_password').value;
        
        try {
          const response = await axios.post('/login', { user_login, user_password });
          const token = response.data.token;
          localStorage.setItem('token', token);
          alert('User logged in successfully');
        } catch (error) {
          console.error('Error logging in:', error);
          alert('Error logging in');
        }
      });
