$black: #0C1113;
$pink: rgba(255, 51, 88, 1);
$yellow: rgba(255, 240, 198, 1);
$dark-yellow: rgba(255, 199, 0, 1);
$mid-yellow: rgba(251, 217, 157, 1);
$white: #FFFFFF;

main {
    width: 100%;

    .headerWaveImg {
        width: 100%;
        z-index: 1;
        margin-top: -1px;
    }

    
}
.notification {
    display: none; /* Сховане за замовчуванням */
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $pink; 
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.notification.show {
    display: block;
}

button.custom-button.disabled {
    background-color: #ccc; /* Сірий колір для кнопки у стані disabled */
    cursor: not-allowed; /* Заборонений курсор */
    
}



/* ---------------Телефон--------------- */
@media (min-width: 100px) {
    .custom-box {
        display: grid;
        justify-content: center;
        font-family: 'Fredoka';

        .content {
            display: grid;
            width: 100%;

            .title-text {
                grid-column: 1/3;
                grid-row: 1;
                margin-top: 30px;
                justify-self: center;

                font-family: "Fredoka";
                color: $pink;
                font-size: 15px;
                font-weight: 800;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .choose-size {
                justify-self: center;
                grid-column: 1/3;
                grid-row: 2;
                margin-top: 30px;
                width: 95%;
                padding: 5px;
                background-color: #fff;
                border: 0px solid #ffcc00;
                border-radius: 10px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);

                span {
                    font-size: 15px;
                    margin: 10px;
                }

                .sizes {
                    padding-top: 8px;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 20px;

                    .size {
                        text-align: center;
                        margin-top: 10px;
                        flex: 1 1 calc(20% - 5px); // 20% ширини контейнера мінус відступи
                        max-width: calc(20% - 5px); // Максимальна ширина для забезпечення переносу

                        padding: 9px 9px;
                        border: 5px solid $dark-yellow;
                        border-radius: 8px;
                        background-color: white;
                        font-size: 10px;
                        font-weight: bold;
                        color: black;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        transition: background-color 0.3s ease, color 0.3s ease;

                        &:hover {
                            background-color: $mid-yellow;
                            color: #ffffff;
                        }

                        &:active {
                            background-color: $mid-yellow;
                            color: $pink;
                        }
                    }
                }

                .else {
                    border: 5px solid $dark-yellow;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 13px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 13px;
                        padding: 2px 0;
                        width: 80%;
                    }
                }
            }

            .choose-taste {
                grid-column: 1;
                grid-row: 3;
                margin-top: 25px;
                width: 100%;
                background-color: #fff;
                border: 0px solid #ffcc00;
                padding: 5px;
                border-radius: 10px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 95%;
                height: fit-content;

                span {
                    font-size: 16px;
                }

                .tastes {
                    color: black;

                    padding-top: 10px;
                    gap: 6px;
                    display: flex;
                    flex-direction: column;

                    .taste {
                        border: 3px solid $dark-yellow;
                        border-radius: 5px;
                        background-color: white;
                        padding: 5px;
                        align-items: center;
                        display: grid;
                        font-size: 13px;


                        span {
                            grid-column: 1;
                            justify-self: start;
                        }

                        input[type="checkbox"] {
                            grid-column: 2;
                            justify-self: end;
                            cursor: pointer;

                            width: 20px;
                            height: 20px;
                            border: 2px solid $dark-yellow;
                            border-radius: 3px;
                            background-color: white;
                            font-size: 18px;
                            font-weight: bold;
                            color: black;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            transition: background-color 0.3s ease,
                                color 0.3s ease;
                            appearance: none;
                            /* Очищуємо стандартний вигляд чекбоксу */
                            position: relative;
                        }

                        input[type="checkbox"]:checked {
                            background-color: $mid-yellow;
                            border-color: $dark-yellow;
                        }

                        input[type="checkbox"]:checked::before {
                            content: '✖';
                            /* Unicode символ хрестика */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $pink;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1;
                        }
                    }
                }

                .else {
                    margin-top: 15px;
                    border: 3px solid $dark-yellow;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;

                    span {
                        font-size: 13px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 13px;
                        padding: 3px 0;
                        width: 80%;
                    }
                }
            }

            .choose-decor {
                justify-self: end;
                grid-column: 2;
                grid-row: 3;
                margin-top: 25px;
                width: 100%;
                background-color: #fff;
                border: 0px solid #ffcc00;
                padding: 5px;
                border-radius: 10px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 95%;
                height: fit-content;

                span {
                    font-size: 16px;
                }

                .decors {
                    color: black;

                    padding-top: 10px;
                    gap: 6px;
                    display: flex;
                    flex-direction: column;

                    .decor {
                        border: 3px solid $dark-yellow;
                        border-radius: 5px;
                        background-color: white;
                        padding: 5px;
                        align-items: center;
                        display: grid;
                        font-size: 13px;


                        span {
                            grid-column: 1;
                            justify-self: start;
                        }

                        input[type="checkbox"] {
                            grid-column: 2;
                            justify-self: end;
                            cursor: pointer;

                            width: 20px;
                            height: 20px;
                            border: 2px solid $dark-yellow;
                            border-radius: 3px;
                            background-color: white;
                            font-size: 18px;
                            font-weight: bold;
                            color: black;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            transition: background-color 0.3s ease,
                                color 0.3s ease;
                            appearance: none;
                            /* Очищуємо стандартний вигляд чекбоксу */
                            position: relative;
                        }

                        input[type="checkbox"]:checked {
                            background-color: $mid-yellow;
                            border-color: $dark-yellow;
                        }

                        input[type="checkbox"]:checked::before {
                            content: '✖';
                            /* Unicode символ хрестика */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $pink;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1;
                        }
                    }
                }

                .else {
                    margin-top: 15px;
                    border: 3px solid $dark-yellow;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;

                    span {
                        font-size: 13px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 13px;
                        padding: 3px 0;
                        width: 80%;
                    }
                }
            }

            .result-box {
                grid-column: 1/3;
                grid-row: 4;
                margin-top: 30px;
                width: 100%;
                background-color: #fff;
                border: 3px solid $pink;
                padding: 5px;
                border-radius: 12px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 100%;
                height: fit-content;
                display: grid;

                span {
                    font-size: 18px;
                }

                .result-text {
                    grid-column: 1;
                    grid-row: 1;
                    justify-self: start;
                }

                .result-price {
                    grid-column: 2;
                    grid-row: 1;
                    justify-self: end;
                }

                .comment {
                    grid-column: 1/3;
                    grid-row: 2;
                    justify-self: start;
                    align-self: center;

                    margin-top: 25px;
                    height: 80px;
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    outline: none;
                    width: 100%;
                }

                .custom-button {
                    grid-column: 2;
                    grid-row: 3;
                    justify-self: end;
                    align-self: center;
                    margin-top: 25px;
                    border-radius: 15px;
                    font-size: 12px;
                    padding: 5px;
                    height: 50px;
                }

            }
        }


    }
}

/* ---------------ПЛАНШЕТ--------------- */
@media (min-width: 425px) {
    .custom-box {
        display: grid;
        justify-content: center;
        font-family: 'Fredoka';

        .content {
            display: grid;
            width: 100%;

            .title-text {
                grid-column: 1/3;
                grid-row: 1;
                margin-top: 30px;
                justify-self: center;

                font-family: "Fredoka";
                color: $pink;
                font-size: 25px;
                font-weight: 800;
                letter-spacing: 4px;
                text-transform: uppercase;
            }

            .choose-size {
                grid-column: 1/3;
                grid-row: 2;
                margin-top: 50px;
                width: 100%;
                padding: 5px;
                background-color: #fff;
                border: 0px solid #ffcc00;
                padding: 15px;
                border-radius: 20px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);

                span {
                    font-size: 20px;
                    margin: 25px;
                }

                .sizes {
                    padding-top: 20px;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 20px;

                    .size {
                        text-align: center;
                        margin-top: 10px;
                        flex: 1 1 calc(20% - 10px); // 20% ширини контейнера мінус відступи
                        max-width: calc(20% - 10px); // Максимальна ширина для забезпечення переносу

                        padding: 10px 20px;
                        border: 5px solid $dark-yellow;
                        border-radius: 15px;
                        background-color: white;
                        font-size: 15px;
                        font-weight: bold;
                        color: black;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        transition: background-color 0.3s ease, color 0.3s ease;

                        &:hover {
                            background-color: $mid-yellow;
                            color: #ffffff;
                        }

                        &:active,
                        &.selected {
                            background-color: $mid-yellow;
                            color: $pink;
                        }
                    }
                }

                .else {
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 18px;
                        padding: 2px 0;
                        width: 80%;
                    }
                }
            }

            .choose-taste {
                grid-column: 1;
                grid-row: 3;
                margin-top: 50px;
                width: 100%;
                background-color: #fff;
                border: 0px solid #ffcc00;
                padding: 15px;
                border-radius: 20px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 90%;
                height: fit-content;

                span {
                    font-size: 23px;
                }

                .tastes {
                    color: black;

                    padding-top: 10px;
                    gap: 6px;
                    display: flex;
                    flex-direction: column;

                    .taste {
                        border: 5px solid $dark-yellow;
                        border-radius: 15px;
                        background-color: white;
                        padding: 5px;
                        align-items: center;
                        display: grid;
                        font-size: 20px;


                        span {
                            grid-column: 1;
                            justify-self: start;
                        }

                        input[type="checkbox"] {
                            grid-column: 2;
                            justify-self: end;
                            cursor: pointer;

                            width: 30px;
                            height: 30px;
                            border: 3px solid $dark-yellow;
                            border-radius: 5px;
                            background-color: white;
                            font-size: 18px;
                            font-weight: bold;
                            color: black;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            transition: background-color 0.3s ease, color 0.3s ease;
                            appearance: none;
                            /* Очищуємо стандартний вигляд чекбоксу */
                            position: relative;
                        }

                        input[type="checkbox"]:checked {
                            background-color: $mid-yellow;
                            border-color: $dark-yellow;
                        }

                        input[type="checkbox"]:checked::before {
                            content: '✖';
                            /* Unicode символ хрестика */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $pink;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 1;
                        }

                    }
                }

                .else {
                    margin-top: 25px;
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;

                    span {
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 18px;
                        padding: 5px 0;
                        width: 80%;
                    }
                }
            }

            .choose-decor {
                justify-self: end;
                grid-column: 2;
                grid-row: 3;
                margin-top: 50px;
                width: 100%;
                background-color: #fff;
                border: 0px solid #ffcc00;
                padding: 15px;
                border-radius: 20px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 90%;
                height: fit-content;

                span {
                    font-size: 23px;
                }

                .decors {
                    color: black;

                    padding-top: 10px;
                    gap: 6px;
                    display: flex;
                    flex-direction: column;

                    .decor {
                        border: 5px solid $dark-yellow;
                        border-radius: 15px;
                        background-color: white;
                        padding: 5px;
                        align-items: center;
                        display: grid;
                        font-size: 20px;


                        span {
                            grid-column: 1;
                            justify-self: start;
                        }

                        input[type="checkbox"] {
                            grid-column: 2;
                            justify-self: end;
                            cursor: pointer;

                            width: 30px;
                            height: 30px;
                            border: 3px solid $dark-yellow;
                            border-radius: 5px;
                            background-color: white;
                            font-size: 18px;
                            font-weight: bold;
                            color: black;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            transition: background-color 0.3s ease, color 0.3s ease;
                            appearance: none;
                            /* Очищуємо стандартний вигляд чекбоксу */
                            position: relative;
                        }

                        input[type="checkbox"]:checked {
                            background-color: $mid-yellow;
                            border-color: $dark-yellow;
                        }

                        input[type="checkbox"]:checked::before {
                            content: '✖';
                            /* Unicode символ хрестика */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $pink;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 1;
                        }

                    }
                }

                .else {
                    margin-top: 25px;
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;

                    span {
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 18px;
                        padding: 5px 0;
                        width: 80%;
                    }
                }
            }

            .result-box {
                grid-column: 1/3;
                grid-row: 4;
                margin-top: 50px;
                width: 100%;
                background-color: #fff;
                border: 5px solid $pink;
                padding: 15px;
                border-radius: 20px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 100%;
                height: fit-content;
                display: grid;

                span {
                    font-size: 23px;
                }

                .result-text {
                    grid-column: 1;
                    grid-row: 1;
                    justify-self: start;
                }

                .result-price {
                    grid-column: 2;
                    grid-row: 1;
                    justify-self: end;
                }

                .comment {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: start;
                    align-self: center;

                    margin-top: 25px;
                    height: 80px;
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    outline: none;
                    width: 100%;
                }

                .custom-button {
                    grid-column: 2;
                    grid-row: 2;
                    justify-self: end;
                    align-self: center;
                    margin-top: 25px;
                    border-radius: 15px;
                    font-size: 18px;
                    padding: 5px;
                    height: 50px;
                }

            }
        }


    }
}

/* ---------------КОМП--------------- */
@media (min-width: 1024px) {
    .custom-box {
        display: grid;
        justify-content: center;
        font-family: 'Fredoka';

        .content {
            display: grid;
            width: 1024px;

            .title-text {
                grid-column: 1/3;
                grid-row: 1;
                margin-top: 30px;
                justify-self: center;

                font-family: "Fredoka";
                color: $pink;
                font-size: 40px;
                font-weight: 800;
                letter-spacing: 4px;
                text-transform: uppercase;
            }

            .choose-size {
                grid-column: 1/3;
                grid-row: 2;
                margin-top: 50px;
                width: 100%;
                padding: 5px;
                background-color: #fff;
                border: 0px solid #ffcc00;
                padding: 15px;
                border-radius: 20px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);

                span {
                    font-size: 30px;
                    margin: 25px;
                }

                .sizes {
                    padding-top: 20px;
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 20px;

                    .size {
                        text-align: center;
                        margin-top: 10px;
                        flex: 1 1 calc(20% - 40px); // 20% ширини контейнера мінус відступи
                        max-width: calc(20% - 40px); // Максимальна ширина для забезпечення переносу

                        padding: 10px 20px;
                        border: 5px solid $dark-yellow;
                        border-radius: 15px;
                        background-color: white;
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                        transition: background-color 0.3s ease, color 0.3s ease;

                        &:hover {
                            background-color: $mid-yellow;
                            color: #ffffff;
                        }

                        &:active {
                            background-color: $mid-yellow;
                            color: $pink;
                        }
                    }
                }

                .else {
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 18px;
                        padding: 5px 0;
                        width: 80%;
                    }
                }
            }

            .choose-taste {
                grid-column: 1;
                grid-row: 3;
                margin-top: 50px;
                width: 100%;
                background-color: #fff;
                border: 0px solid #ffcc00;
                padding: 15px;
                border-radius: 20px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 90%;
                height: fit-content;

                span {
                    font-size: 30px;
                }

                .tastes {
                    color: black;

                    padding-top: 10px;
                    gap: 6px;
                    display: flex;
                    flex-direction: column;

                    .taste {
                        border: 5px solid $dark-yellow;
                        border-radius: 15px;
                        background-color: white;
                        padding: 5px;
                        align-items: center;
                        display: grid;
                        font-size: 28px;

                        input[type="checkbox"] {
                            grid-column: 2;
                            justify-self: end;
                            cursor: pointer;

                            width: 50px;
                            height: 50px;
                            border: 5px solid $dark-yellow;
                            border-radius: 15px;
                            background-color: white;
                            font-size: 18px;
                            font-weight: bold;
                            color: black;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            transition: background-color 0.3s ease,
                                color 0.3s ease;
                            appearance: none;
                            /* Очищуємо стандартний вигляд чекбоксу */
                            position: relative;
                        }

                        input[type="checkbox"]:checked {
                            background-color: $mid-yellow;
                            border-color: $dark-yellow;
                        }

                        input[type="checkbox"]:checked::before {
                            content: '✖';
                            /* Unicode символ хрестика */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $pink;
                            font-size: 28px;
                            font-weight: bold;
                            line-height: 1;
                        }
                    }
                }

                .else {
                    margin-top: 25px;
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;

                    span {
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 18px;
                        padding: 5px 0;
                        width: 80%;
                    }
                }
            }

            .choose-decor {
                justify-self: end;
                grid-column: 2;
                grid-row: 3;
                margin-top: 50px;
                width: 100%;
                background-color: #fff;
                border: 0px solid #ffcc00;
                padding: 15px;
                border-radius: 20px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 90%;
                height: fit-content;

                span {
                    font-size: 30px;
                }

                .decors {
                    color: black;

                    padding-top: 10px;
                    gap: 6px;
                    display: flex;
                    flex-direction: column;

                    .decor {
                        border: 5px solid $dark-yellow;
                        border-radius: 15px;
                        background-color: white;
                        padding: 5px;
                        align-items: center;
                        display: grid;
                        font-size: 28px;

                        input[type="checkbox"] {
                            grid-column: 2;
                            justify-self: end;
                            cursor: pointer;

                            width: 50px;
                            height: 50px;
                            border: 5px solid $dark-yellow;
                            border-radius: 15px;
                            background-color: white;
                            font-size: 18px;
                            font-weight: bold;
                            color: black;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            transition: background-color 0.3s ease,
                                color 0.3s ease;
                            appearance: none;
                            /* Очищуємо стандартний вигляд чекбоксу */
                            position: relative;
                        }

                        input[type="checkbox"]:checked {
                            background-color: $mid-yellow;
                            border-color: $dark-yellow;
                        }

                        input[type="checkbox"]:checked::before {
                            content: '✖';
                            /* Unicode символ хрестика */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: $pink;
                            font-size: 28px;
                            font-weight: bold;
                            line-height: 1;
                        }
                    }
                }

                .else {
                    margin-top: 25px;
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;

                    span {
                        font-size: 18px;
                        font-weight: bold;
                        color: black;
                    }

                    .comment {
                        border: none;
                        border-bottom: 2px solid #000000;
                        outline: none;
                        font-size: 18px;
                        padding: 5px 0;
                        width: 80%;
                    }
                }
            }

            .result-box {
                grid-column: 1/3;
                grid-row: 4;
                margin-top: 50px;
                width: 100%;
                background-color: #fff;
                border: 5px solid $pink;
                padding: 15px;
                border-radius: 20px;
                box-shadow: -3px 1px 15px rgb(0, 0, 0);
                width: 100%;
                height: fit-content;
                display: grid;

                span {
                    font-size: 30px;
                }

                .result-text {
                    grid-column: 1;
                    grid-row: 1;
                    justify-self: start;
                }

                .result-price {
                    grid-column: 2;
                    grid-row: 1;
                    justify-self: end;
                }

                .comment {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: start;
                    align-self: center;

                    margin-top: 25px;
                    height: 80px;
                    border: 5px solid $dark-yellow;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    outline: none;
                    width: 100%;
                }

                .custom-button {
                    grid-column: 2;
                    grid-row: 2;
                    justify-self: end;
                    align-self: center;
                    margin-top: 25px;
                    border-radius: 15px;
                    font-size: 23px;
                    height: 50px;
                }

            }
        }


    }
}