//----------------------КОЛЬОРИ--------------------
$black: #0C1113;
$pink: rgba(255, 51, 88, 1);
$yellow: rgba(255, 240, 198, 1);
$dark-yellow: rgba(255, 199, 0, 1);
$white: #FFFFFF;



$h1-font-size: 70px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$p-font-size: 20px;
$font-style: normal;

//----------------------ВІДСТУПИ------------------
$margin: 100px;


//----------------------ІНШЕ----------------------
html {
    font-family: "Mukta";
    font-size: 24;
    background-color: $yellow;
    color: $pink;
}

