a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .catalogue-box

        .content
            .title-text Catalogue

            .search-container
                input(type="text" placeholder="Search").search-class
                a(href="#").icon-filter.button-fs
                    img(src=require('../photo/filterIcon.png') alt="Filter Icon")
                a(href="#").icon-sort.button-fs
                    img(src=require('../photo/sortIcon.png') alt="Sort Icon")

            .products
                

        button.loadmore-button.myButton Load More
    .notification(id="notification")
        span.notification-text 