a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .catalogue-box

        .content
            .title-text Catalogue

            .search-container
                input(type="text" placeholder="Search").search-class
                a(href="#").icon-filter.button-fs#filter-button
                    img(src=require('../photo/filterIcon.png') alt="Filter Icon")
                .filter-menu.hidden
                    .filter-container
                a(href="#").icon-sort.button-fs#sort-button
                    img(src=require('../photo/sortIcon.png') alt="Sort Icon")
                .sort-menu.hidden
                    ul
                        li(data-sort="price-asc") sort by price (lower to higher)
                        li(data-sort="price-desc") sort by price (higher to lower)
                        li(data-sort="name-asc") sort by name (a-z)
                        li(data-sort="name-desc") sort by name (z-a)

            .products

        button.loadmore-button.myButton Load More
    .notification(id="notification")
        span.notification-text
