a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .liked-box

        .content
            .title-text Your Favorites
            .liked_products
    .notification(id="notification")
        span.notification-text
