a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .profile-box

        .content
            .title-text OOPS! Looks like you didn't login:(

            button.login-button.myButton Login
            button.register-button.myButton Register

    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="profile.js")
