a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .profile-box

        .content
            .title-text YOUR ACCOUNT

            .profile-picture 
                img(src=require('../photo/profilePhoto.jpg')  alt="YourPhoto")
            .profile-info 
                span.name Name:
                span.user-name 

                span.mail Mail:
                span.user-mail 

                span.num Number:
                span.user-num 

            button.edit-button.myButton Edit
            button.forgot-button.myButton Forgot Password
            button.delete-button.myButton Delete Account

    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="profile.js")
