a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .profile-box

        .content
            .title-text YOUR ACCOUNT

            .profile-picture 
                img(src=require('../photo/profilePhoto.jpg')  alt="YourPhoto")
            .profile-info 
                span.name name:
                span.user-name Yumi Pesivna Hnatiuk

                span.mail mail:
                span.user-mail pesDurnes@gmail.com

                span.num number:
                span.user-num +380969104631

            button.edit-button.myButton Edit
            button.forgot-button.myButton Forgot Password
            button.delete-button.myButton Delete Account
