doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title YUMICO
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="profile.js")
  body 
    include ../header.pug 
    .profile-container
      include profile_content.pug 
      include profile_login_register.pug 
    include ../footer.pug
