.profile-login-register.hidden
  a(name="main")
  main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .profile-box
      .content
        .title-text YOUR ACCOUNT
        .BLOCKKK 
          button.login-button.myButton Login
          button.register-button.myButton Register
