a(name="main")
main 
    img(src=require('./photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .main-box

        .content
            .title-text About us

            .text-1 Welcome to YUMICO, where tradition meets passion in every bite! Established in 2010, we are a family-run bakery nestled in the heart of KYIV. Our bakery started with a simple mission: to bring the authentic taste of homemade Italian pastries to our community. Our recipes have been passed down through generations, and each treat is made with the finest ingredients and a pinch of love. From our famous sourdough bread to our decadent chocolate cakes, every piece is crafted to perfection. Come visit us and experience the warmth of our kitchen!
            .pic-1
                img(src=require('./photo/aboutusPhoto1.png')  alt="Our Team")
            .pic-2
                img(src=require('./photo/aboutusPhoto2.png')  alt="Our cakes")
            .text-2 At YUMICO, we believe in the power of freshly baked goods to bring people together. Since opening our doors in 2010 inKYIV, we've committed to using only the highest quality, locally-sourced ingredients in all our creations. Our team of skilled bakers and pastry chefs are dedicated to baking not just bread, but memories that last a lifetime. Whether you're starting your day with our buttery croissants or enjoying a slice of our signature carrot cake, YUMICO is here to make your day a little sweeter.
