doctype html 
html(lang='ua')
    head
        meta(charset='utf-8')
        title='Webpack'
    body 
        h1 File created via Pug 
        h2 thats list 
        ul 
        li el1 
        li el2