a(name="main")
main 
    img(src=require('../photo/header-wave.svg') alt="Header Wave").headerWaveImg 
    .cart-box

        .content
            .title-text Your Cart

            .cart-list 

            .result-box 
                span.result-text SUMM TO PAYMENT:
                span.result-price ₴198.00
            button.cart-button.myButton Proceed to Checkout
